{% extends 'layouts/index/base.html' %}
{% load static %}

{% block content %}

<div class="card">
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <h4 class="mt-10 header-title">Registrar producto</h4>
            <div class="mt-30"></div>
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Nombre de la producto</label>
                        <input type="text" class="form-control" name="name" id="id_name" {% if form.name.value %}
                            value="{{form.name.value}}" {% endif %} placeholder="Nombre producto" required>
                        {% if form.name.help_text %}
                            <p class="help">{{ form.name.help_text|safe }}</p>
                        {% endif %}
                        {% if form..errors %}
                            <ul class="errorlist">
                                {% for error in form.name.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Detalle</label>
                        <input type="text" class="form-control" name="detail" id="id_detail" {% if form.detail.value %}  
                            value="{{form.detail.value}}" {% endif %} placeholder="Detalle" required>
                        {% if form.detail.help_text %}
                            <p class="help">{{ form.detail.help_text|safe }}</p>
                        {% endif %}
                        {% if form.detail.errors %}
                            <ul class="errorlist">
                                {% for error in form.detail.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    
                    
                    <div class="form-group">
                        <label>Precio</label>  
                        <div>
                            <input type="number" name="price" id="id_price" step="50" min="1000" class="form-control"
                                placeholder="Precio" {% if form.price.value %} value="{{form.price.value}}" {% endif %}
                                required>
                            {% if form.price.help_text %}
                                <p class="help">{{ form.price.help_text|safe }}</p>
                            {% endif %}
                            {% if form.price.errors %}
                                <ul class="errorlist">
                                    {% for error in form.price.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
           
            <br>
            <br>
            <div>
                <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">Guardar inmueble</button>
            </div>
           
        </div>
    </form>
</div>

{% endblock content %}