{% extends 'layouts/index/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="{% static 'pitnik-dark/images/fav.png' %}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'pitnik-dark/css/main.min.css' %}">
	<link rel="stylesheet" href="{% static 'pitnik-dark/css/weather-icon.css' %}">
	<link rel="stylesheet" href="{% static 'pitnik-dark/css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'pitnik-dark/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'pitnik-dark/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'pitnik-dark/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'pitnik-dark/css/dark-theme.css' %}">

</head>


<body>
	<div class="www-layout">
        <section>
        	<div class="gap no-gap signin whitish medium-opacity register">
                <div class="bg-image" style="background-image:url('{% static "pitnik-dark/images/resources/theme-bg.jpg" %}')"></div>
                <div class="container">
                	<div class="row">
                        <div class="col-lg-8">
                            <div class="big-ad">
                                <figure><img src="{% static 'pitnik-dark/images/logo2.png' %}" alt=""></figure>
                                <h1>Welcome</h1>
                                <p>
                                     Pitnik is a social network template that can be used to connect people. use this template for multipurpose social activities like job, dating, posting, bloging and much more. Now join & Make Cool Friends around the world !!!                             
                                </p>
                                <div class="barcode">
                                    <figure><img src="{% static 'pitnik-dark/images/resources/Barcode.jpg' %}" alt=""></figure>
                                    <div class="app-download">
                                        <span>Download Mobile App and Scan QR Code to login</span>
                                        <ul class="colla-apps">
                                            <li><a title="" href="https://play.google.com/store?hl=en"><img src="{% static 'pitnik-dark/images/android.png' %}" alt="">android</a></li>
                                            <li><a title="" href="https://www.apple.com/lae/ios/app-store/"><img src="{% static 'pitnik-dark/images/apple.png' %}" alt="">iPhone</a></li>
                                            <li><a title="" href="https://www.microsoft.com/store/apps"><img src="{% static 'pitnik-dark/images/windows.png' %}" alt="">Windows</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block content %}
                        <div class="col-lg-4">
                            <div class="we-login-register">
                                <div class="form-title">
                                    <i class="fa fa-key"></i>Registrate
                                    <span>Conoce nuestros productos</span>
                                </div>
                                <form class="we-form" id="miForm" method="post">
                                    {% csrf_token %}                                    
                                    <input type="text" class="keyword-input text-center" placeholder="Usuario" name="username" id="username" >
                                    <input type="email" class="keyword-input text-center" placeholder="Email" name="email" id="email" >
                                    <input type="password" class="keyword-input text-center" placeholder="Contraseña" name="password" id="password" >
                                    <button type="submit" id="btnSend" data-ripple="">Registrar</button>
                                </form>
                                <span>¿Ya tienes cuenta? <a class="we-account underline" href="../accounts/login/" title="">Ingresa</a></span>
                            </div>
                        </div>
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </section>
         
    </div>
</body>	
</html>