{% if data %}
esta pendejada se esta ejecutando 

<table class="table table-striped table-hover table-dark">
    <tr>
        <th><strong>ID</strong></th>
        <th><strong>NOMBRE</strong></th>
        <th><strong>PRECIO</strong></th>
        <th><strong>DETALLES</strong></th>
        <th><strong>ACCIONES</strong></th>
    </tr>
        {% for dat in data  %}
    <tr>            
        <td>{{dat.id}}</td>
        <td>{{dat.fullname}}</td>
        <td>{{dat.price}}</td>
        <td>{{dat.detail}}</td>
        <td>
            <a href=" {% url 'index:detail_product' dat.id %} "><i class="table_icon ti-eye mr-10"></i></a>
            <a href=" {% url 'index:update_product' dat.id %} "><i class="table_icon ti-pencil mr-10"></i></a>
            <a href=" {% url 'index:delete_product' dat.id %} "><i class="table_icon ti-trash mr-10"></i></a>        
           
        
    </div>
        {% endfor %}


{% else %}
esta pendejada no se esta ejecutando correctamente 

{% endif %}