{% extends 'layouts/index/base.html' %}
{% load static %}


{% block content %}

<div class="create-btn-div">
    <a href="{% url 'create_product' %}">
        <button type="button" class="btn btn-primary waves-effect waves-light">Nuevo producto</button>
    </a>
</div>
<div><br>
    <table class="table table-striped table-hover table-dark">
        <tr>
            <th><strong>ID</strong></th>
            <th><strong>NOMBRE</strong></th>
            <th><strong>PRECIO</strong></th>
            <th><strong>DETALLES</strong></th>
            <th><strong>ACCIONES</strong></th>
        </tr>
            {% for dat in dataproduct  %}
        <tr>            
            <td>{{dat.id}}</td>
            <td>{{dat.fullname}}</td>
            <td>{{dat.price}}</td>
            <td>{{dat.detail}}</td>
            <td>
                <a href="#"s><i class="table_icon ti-eye mr-10"></i></a>
                <a href="#"><i class="table_icon ti-pencil mr-10"></i></a>
                <a href="#"><i class="table_icon ti-trash mr-10"></i></a>        
            </td> 
        </tr>
            {% endfor %}
    </table>    
</div>

{% endblock content %}
    
